# Prerequisites
*.d
*.mp4
*.avi
*.png
*.jpg
*.svj
.catkin_workspace
.vscode/

# Dirs
build/
devel/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
sunray_swarm/launch_sim/ugv_control_mode_copy.launch
sunray_swarm/launch/rmtt_all_drone.launch
sunray_swarm/launch/drone_params.yaml
sunray_swarm/scripts/KeyBoardControl.py
sunray_drivers/wheeltec/turn_on_wheeltec_robot/launch/ugv_driver_robot.launch
