<launch>
    <!-- 启动rmtt_control_node -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_1" output="screen">
        <param name="agent_id" value="1" />
        <rosparam command="load" file="$(find sunray_swarm)/launch_sim/rmtt_params.yaml" />
    </node>

    <!-- 启动rmtt_control_node -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_2" output="screen">
        <param name="agent_id" value="2" />
        <rosparam command="load" file="$(find sunray_swarm)/launch_sim/rmtt_params.yaml" />
    </node>

    <!-- 启动rmtt_control_node -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_3" output="screen">
        <param name="agent_id" value="3" />
        <rosparam command="load" file="$(find sunray_swarm)/launch_sim/rmtt_params.yaml" />
    </node>

    <!-- 启动rmtt_control_node -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_4" output="screen">
        <param name="agent_id" value="4" />
        <rosparam command="load" file="$(find sunray_swarm)/launch_sim/rmtt_params.yaml" />
    </node>

    <!-- 启动rmtt_control_node -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_5" output="screen">
        <param name="agent_id" value="5" />
        <rosparam command="load" file="$(find sunray_swarm)/launch_sim/rmtt_params.yaml" />
    </node>

    <!-- 启动rmtt_control_node -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_6" output="screen">
        <param name="agent_id" value="6" />
        <rosparam command="load" file="$(find sunray_swarm)/launch_sim/rmtt_params.yaml" />
    </node>

    <!-- 启动rmtt_control_node -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_7" output="screen">
        <param name="agent_id" value="7" />
        <rosparam command="load" file="$(find sunray_swarm)/launch_sim/rmtt_params.yaml" />
    </node>

    <!-- 启动rmtt_control_node -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_8" output="screen">
        <param name="agent_id" value="8" />
        <rosparam command="load" file="$(find sunray_swarm)/launch_sim/rmtt_params.yaml" />
    </node>

    <!-- Rviz config -->
    <arg name="rviz_enable" default="false"/>
    <arg name="rivz_config" default="$(find sunray_swarm)/launch_sim/multi_agent.rviz"/>
	<!-- 启动Rviz-->
	<group if="$(arg rviz_enable)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rivz_config)"/>
    </group>
</launch>

