<?xml version="1.0"?>
<launch>
	<arg name="local_ip" default="192.168.25.77" />
	<!-- 第1台无人机 -->
	<group ns="/sunray_swarm/rmtt_1">
		<node pkg="rmtt_driver" name="rmtt_driver" type="rmtt_node.py" output="screen">
			<param name="drone_sn" type="string" value="0TQZM47CNT046P" />
			<param name="drone_ip" type="string" value="192.168.25.147" />
			<param name="drone_port" type="string" value="8889" />
			<param name="local_ip" type="string" value="$(arg local_ip)" />
			<param name="local_port" type="string" value="8890" />
			<param name="video_port" type="string" value="11111" />
			<param name="enable_camera" type="bool" value="true" />
		</node>
		<!-- 启动rmtt_control_node -->
		<node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_1" output="screen">
			<param name="agent_id" value="1" />
			<param name="agent_ip" value="192.168.25.147" />
			<rosparam command="load" file="$(find sunray_swarm)/launch/rmtt_params.yaml" />
		</node>
	</group>

	<!-- 第2台无人机 -->
	<group ns="/sunray_swarm/rmtt_2">
		<node pkg="rmtt_driver" name="rmtt_driver" type="rmtt_node.py" output="screen">
			<param name="drone_sn" type="string" value="0TQZM48CNT06PF" />
			<param name="drone_ip" type="string" value="192.168.25.158" />
			<param name="drone_port" type="string" value="8889" />
			<param name="local_ip" type="string" value="$(arg local_ip)" />
			<param name="local_port" type="string" value="8891" />
			<param name="video_port" type="string" value="11112" />
			<param name="enable_camera" type="bool" value="true" />
		</node>
		<!-- 启动rmtt_control_node -->
		<node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_2" output="screen">
			<param name="agent_id" value="2" />
			<param name="agent_ip" value="192.168.25.158" />
			<rosparam command="load" file="$(find sunray_swarm)/launch/rmtt_params.yaml" />
		</node>
	</group>

	<!-- 第3台无人机 -->
	<group ns="/sunray_swarm/rmtt_3">
		<node pkg="rmtt_driver" name="rmtt_driver" type="rmtt_node.py" output="screen">
			<param name="drone_sn" type="string" value="0TQZM48CNT06PY" />
			<param name="drone_ip" type="string" value="192.168.25.157" />
			<param name="drone_port" type="string" value="8889" />
			<param name="local_ip" type="string" value="$(arg local_ip)" />
			<param name="local_port" type="string" value="8892" />
			<param name="video_port" type="string" value="11113" />
			<param name="enable_camera" type="bool" value="true" />
		</node>
		<!-- 启动rmtt_control_node -->
		<node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_3" output="screen">
			<param name="agent_id" value="3" />
			<param name="agent_ip" value="192.168.25.157" />
			<rosparam command="load" file="$(find sunray_swarm)/launch/rmtt_params.yaml" />
		</node>
	</group>

	<!-- 第4台无人机 -->
	<group ns="/sunray_swarm/rmtt_4">
		<node pkg="rmtt_driver" name="rmtt_driver" type="rmtt_node.py" output="screen">
			<param name="drone_sn" type="string" value="0TQZJADCNT18QU" />
			<param name="drone_ip" type="string" value="192.168.25.154" />
			<param name="drone_port" type="string" value="8889" />
			<param name="local_ip" type="string" value="$(arg local_ip)" />
			<param name="local_port" type="string" value="8893" />
			<param name="video_port" type="string" value="11114" />
			<param name="enable_camera" type="bool" value="true" />
		</node>
		<!-- 启动rmtt_control_node -->
		<node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_4" output="screen">
			<param name="agent_id" value="4" />
			<param name="agent_ip" value="192.168.25.154" />
			<rosparam command="load" file="$(find sunray_swarm)/launch/rmtt_params.yaml" />
		</node>
	</group>

	<!-- 第5台无人机 -->
	<group ns="/sunray_swarm/rmtt_5">
		<node pkg="rmtt_driver" name="rmtt_driver" type="rmtt_node.py" output="screen">
			<param name="drone_sn" type="string" value="0TQZM43CNT03UU" />
			<param name="drone_ip" type="string" value="192.168.25.153" />
			<param name="drone_port" type="string" value="8889" />
			<param name="local_ip" type="string" value="$(arg local_ip)" />
			<param name="local_port" type="string" value="8894" />
			<param name="video_port" type="string" value="11115" />
			<param name="enable_camera" type="bool" value="true" />
		</node>
		<!-- 启动rmtt_control_node -->
		<node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_5" output="screen">
			<param name="agent_id" value="5" />
			<param name="agent_ip" value="192.168.25.153" />
			<rosparam command="load" file="$(find sunray_swarm)/launch/rmtt_params.yaml" />
		</node>
	</group>

	<!-- 第6台无人机 -->
	<group ns="/sunray_swarm/rmtt_6">
		<node pkg="rmtt_driver" name="rmtt_driver" type="rmtt_node.py" output="screen">
			<param name="drone_sn" type="string" value="0TQZM43CNT03RR" />
			<param name="drone_ip" type="string" value="192.168.25.141" />
			<param name="drone_port" type="string" value="8889" />
			<param name="local_ip" type="string" value="$(arg local_ip)" />
			<param name="local_port" type="string" value="8895" />
			<param name="video_port" type="string" value="11116" />
			<param name="enable_camera" type="bool" value="true" />
		</node>
		<!-- 启动rmtt_control_node -->
		<node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_6" output="screen">
			<param name="agent_id" value="6" />
			<param name="agent_ip" value="192.168.25.141" />
			<rosparam command="load" file="$(find sunray_swarm)/launch/rmtt_params.yaml" />
		</node>
	</group>

</launch>
