<?xml version="1.0"?>
<launch>
    <arg name="ugv_id" default="1"/>
    <arg name="max_vel" default="0.5" />
    <arg name="x_min" default="-100.0"/>
    <arg name="x_max" default="100.0"/>
    <arg name="y_min" default="-100.0"/>
    <arg name="y_max" default="100.0"/>
    <arg name="matlab_control" default="false"/>

    <!-- 加载 UGV 参数 -->
    <rosparam command="load" file="$(find sunray_swarm)/launch_sim/ugv_params.yaml" />

    <group ns="tianbot$(arg ugv_id)">
        <!-- 开启底层单片机控制节点 -->
        <node pkg="turn_on_wheeltec_robot" type="wheeltec_robot_node" name="wheeltec_robot_node" output="screen">
            <param name="usart_port_name" type="string" value="/dev/ttyACM0"/>  
            <param name="serial_baud_rate" type="int" value="115200"/>
        </node>

        <!-- 启动高级控制节点 -->
        <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node" output="screen">
            <param name="ugv_id" value="$(arg ugv_id)"/>
            <param name="ugv_name" value="tianbot$(arg ugv_id)"/>
            <param name="flag_printf" value="true" />
            <!-- 使用rosparam命令从参数文件载入地理围栏和其他控制参数 -->
            <rosparam param="geo_fence" />
            <rosparam param="ugv_control_param" />
            <rosparam param="orca_params" />
        </node>
    </group>
</launch>

