<launch>
	<node pkg="sunray_swarm" name="rmtt_waypoint" type="rmtt_waypoint" output="screen">
		<rosparam command="load" file="$(find sunray_swarm)/config/rmtt_params_single.yaml" />
		<!-- <param name="agent_height" value="2.0"/>
		<param name="agent_id" value="1"/>
		<param name="waypoint_count" value="3"/>
		<param name="waypoint_1_x" value="2.0"/>
		<param name="waypoint_1_y" value="2.0"/>
		<param name="waypoint_2_x" value="3.0"/>
		<param name="waypoint_2_y" value="4.0"/>
		<param name="waypoint_3_x" value="4.0"/>
		<param name="waypoint_3_y" value="4.0"/> -->
	</node>
</launch>