<?xml version="1.0"?>
<launch>
	<arg name="local_ip" default="192.168.25.59" />
	<!-- 第1台无人机 -->
	<group ns="/sunray_swarm/rmtt_1">

		<!-- 启动rmtt_control_node -->
		<node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_1" output="screen">
			<param name="uav_id" value="1" />
			<param name="uav_ip" value="192.168.25.95" />
			<rosparam command="load" file="$(find sunray_swarm)/config/rmtt_params.yaml" />
		</node>
	</group>

</launch>
