<launch>
	<node pkg="sunray_rmtt" name="rmtt_orca_node" type="rmtt_orca_node" output="screen">
        <rosparam command="load" file="$(find sunray_rmtt)/launch/rmtt_params.yaml" />
	</node>

    <!-- Rviz config -->
    <arg name="rviz_enable" default="false"/>
    <arg name="rivz_config" default="$(find sunray_rmtt)/rviz/rmtt_exp.rviz"/>
	<!-- 启动Rviz-->
	<group if="$(arg rviz_enable)">
        <node type="rviz" name="rviz" pkg="rviz" args="-d $(arg rivz_config)"/>
    </group>
</launch>

