<launch>
    <!-- 0 for 麦克纳姆轮，1 for 差速轮 -->
    <arg name="ugv_type" default="0"/>
    <!-- 1 for mocap(RVIZ数值仿真)，2 for odom（gazebo仿真） -->
    <arg name="pose_source" default="2"/>

    <!-- 1号无人车控制节点 -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_1" output="screen">
        <param name="agent_id" value="1" />
        <param name="ugv_type" value="$(arg ugv_type)" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 2号无人车控制节点 -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_2" output="screen" >
        <param name="agent_id" type="int" value="2" />
        <param name="ugv_type" value="$(arg ugv_type)" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 3号无人车控制节点 -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_3" output="screen" >
        <param name="agent_id" type="int" value="3" />
        <param name="ugv_type" value="$(arg ugv_type)" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 4号无人车控制节点 -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_4" output="screen" >
        <param name="agent_id" type="int" value="4" />
        <param name="ugv_type" value="$(arg ugv_type)" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 5号无人车控制节点 -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_5" output="screen" >
        <param name="agent_id" type="int" value="5" />
        <param name="ugv_type" value="$(arg ugv_type)" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>

    <!-- 6号无人车控制节点 -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_6" output="screen" >
        <param name="agent_id" type="int" value="6" />
        <param name="ugv_type" value="$(arg ugv_type)" />
        <param name="is_simulation" type="bool" value="true" />
        <param name="pose_source" value="$(arg pose_source)" />
    </node>
</launch>

