<launch>
    <!-- 智能体名称 -->
    <arg name="agent_name" default="rmtt"/>
    <!-- 智能体模型名称 -->
    <arg name="model_name" default="rmtt"/>
    <!-- 智能体编号 -->
    <arg name="agent_1_id" default="1"/>
    <arg name="agent_2_id" default="2"/>
    <arg name="agent_3_id" default="3"/>
    <arg name="agent_4_id" default="4"/>
    <arg name="agent_5_id" default="5"/>
    <arg name="agent_6_id" default="6"/>

    <!-- 智能体初始位置 -->
    <arg name="init_1_x"   default="0.0"/>
    <arg name="init_1_y"   default="0.0"/>
    <arg name="init_1_z"   default="0.0"/>
    <arg name="init_1_yaw" default="0.0"/>
    <arg name="init_2_x"   default="0.0"/>
    <arg name="init_2_y"   default="1.0"/>
    <arg name="init_2_z"   default="0.0"/>
    <arg name="init_2_yaw" default="0.0"/>
    <arg name="init_3_x"   default="0.0"/>
    <arg name="init_3_y"   default="-1.0"/>
    <arg name="init_3_z"   default="0.0"/>
    <arg name="init_3_yaw" default="0.0"/>
    <arg name="init_4_x"   default="0.0"/>
    <arg name="init_4_y"   default="2.0"/>
    <arg name="init_4_z"   default="0.0"/>
    <arg name="init_4_yaw" default="0.0"/>
    <arg name="init_5_x"   default="0.0"/>
    <arg name="init_5_y"   default="-2.0"/>
    <arg name="init_5_z"   default="0.0"/>
    <arg name="init_5_yaw" default="0.0"/>
    <arg name="init_6_x"   default="1.0"/>
    <arg name="init_6_y"   default="0.0"/>
    <arg name="init_6_z"   default="0.0"/>
    <arg name="init_6_yaw" default="0.0"/>

    <!-- agent1 -->
    <group ns="/sunray_swarm/$(arg agent_name)_$(arg agent_1_id)">
        <include file="$(find sunray_swarm_sim)/launch_gazebo_sim/spawn_agent_model.launch">
            <arg name="agent_id" value="$(arg agent_1_id)" />
            <arg name="model_name" value="$(arg model_name)" />
            <arg name="init_x" value="$(arg init_1_x)"/>
            <arg name="init_y" value="$(arg init_1_y)"/>
            <arg name="init_z" value="$(arg init_1_z)"/>
            <arg name="init_yaw" value="$(arg init_1_yaw)"/>
        </include>
    </group>

    <!-- agent2 -->
    <group ns="/sunray_swarm/$(arg agent_name)_$(arg agent_2_id)">
        <include file="$(find sunray_swarm_sim)/launch_gazebo_sim/spawn_agent_model.launch">
            <arg name="agent_id" value="$(arg agent_2_id)" />
            <arg name="model_name" value="$(arg model_name)" />
            <arg name="init_x" value="$(arg init_2_x)"/>
            <arg name="init_y" value="$(arg init_2_y)"/>
            <arg name="init_z" value="$(arg init_2_z)"/>
            <arg name="init_yaw" value="$(arg init_2_yaw)"/>
        </include>
    </group>

    <!-- agent3 -->
    <group ns="/sunray_swarm/$(arg agent_name)_$(arg agent_3_id)">
        <include file="$(find sunray_swarm_sim)/launch_gazebo_sim/spawn_agent_model.launch">
            <arg name="agent_id" value="$(arg agent_3_id)" />
            <arg name="model_name" value="$(arg model_name)" />
            <arg name="init_x" value="$(arg init_3_x)"/>
            <arg name="init_y" value="$(arg init_3_y)"/>
            <arg name="init_z" value="$(arg init_3_z)"/>
            <arg name="init_yaw" value="$(arg init_3_yaw)"/>
        </include>
    </group>

    <!-- agent4 -->
    <group ns="/sunray_swarm/$(arg agent_name)_$(arg agent_4_id)">
        <include file="$(find sunray_swarm_sim)/launch_gazebo_sim/spawn_agent_model.launch">
            <arg name="agent_id" value="$(arg agent_4_id)" />
            <arg name="model_name" value="$(arg model_name)" />
            <arg name="init_x" value="$(arg init_4_x)"/>
            <arg name="init_y" value="$(arg init_4_y)"/>
            <arg name="init_z" value="$(arg init_4_z)"/>
            <arg name="init_yaw" value="$(arg init_4_yaw)"/>
        </include>
    </group>

    <!-- agent5 -->
    <group ns="/sunray_swarm/$(arg agent_name)_$(arg agent_5_id)">
        <include file="$(find sunray_swarm_sim)/launch_gazebo_sim/spawn_agent_model.launch">
            <arg name="agent_id" value="$(arg agent_5_id)" />
            <arg name="model_name" value="$(arg model_name)" />
            <arg name="init_x" value="$(arg init_5_x)"/>
            <arg name="init_y" value="$(arg init_5_y)"/>
            <arg name="init_z" value="$(arg init_5_z)"/>
            <arg name="init_yaw" value="$(arg init_5_yaw)"/>
        </include>
    </group>

    <!-- agent6 -->
    <group ns="/sunray_swarm/$(arg agent_name)_$(arg agent_6_id)">
        <include file="$(find sunray_swarm_sim)/launch_gazebo_sim/spawn_agent_model.launch">
            <arg name="agent_id" value="$(arg agent_6_id)" />
            <arg name="model_name" value="$(arg model_name)" />
            <arg name="init_x" value="$(arg init_6_x)"/>
            <arg name="init_y" value="$(arg init_6_y)"/>
            <arg name="init_z" value="$(arg init_6_z)"/>
            <arg name="init_yaw" value="$(arg init_6_yaw)"/>
        </include>
    </group>
</launch>

