<launch>
    <!-- 启动ugv_control_node -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_1" output="screen">
        <param name="agent_id" value="1" />
        <rosparam command="load" file="$(find sunray_swarm)/config/ugv_params.yaml" />
    </node>

    <!-- 启动ugv_control_node -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_2" output="screen">
        <param name="agent_id" value="2" />
        <rosparam command="load" file="$(find sunray_swarm)/config/ugv_params.yaml" />
    </node>

    <!-- 启动ugv_control_node -->
    <node pkg="sunray_swarm" type="ugv_control_node" name="ugv_control_node_3" output="screen">
        <param name="agent_id" value="3" />
        <rosparam command="load" file="$(find sunray_swarm)/config/ugv_params.yaml" />
    </node>
</launch>

